@charset "utf-8";

body{
  font-size:1rem;
}
.panel {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 1.2em 1.2em 2.4em;
  background: #e7eaeb;
}
.panel-title{
  margin-bottom: 2em; 
  margin-left: 1em;
  margin-top: 1em;
}

.panel-row {
  display: flex;
}
.panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box-straight {
  align-items: center;
  margin-top: 0.9em;
  margin-left: 1.5em;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.box-straight-last {
  align-items: center;
  margin-top: 2.5em;
  margin-left: 1.5em;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}


.circle {
  position: absolute;
  left: 280px;
  width: 60px;
  height: 60px;
  background: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.circle span {
  writing-mode: vertical-rl;
  color: white;
}
.container {
  display: flex;
  margin-right: 28%;
  font-size: 1rem;
}
.switch-on, .switch-off {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 5px;
  margin: 0;
  background: white;
  border: 1px solid black;
}

.switch-on + .switch-off {
  margin-left: 0;
}
.select-1, .select-2, .select-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 5px;
  margin: 0;
  background: white;
  border: 1px solid black;
}

.select-1 + .select-2 + .select-3 {
  margin-left: 0;
}
.switch-on.clicked {
  background: red;
}
  
.switch-off.clicked {
  background: blue;
}
.select-1.clicked, .select-2.clicked, .select-3.clicked{
  background: yellow;
}

