@charset "utf-8";

.panel {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 1.2em 1.2em 2.4em;
  background: #e7eaeb;
}

.panel-title{
  margin-bottom: 2em; 
  margin-left: 1em;
  margin-top: 1em;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.control-container {
  font-size: 1rem;
  margin-top: 0.9em;
  margin-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-close{
  margin-right:25%;
}

.margin-close-mini{
  margin-right:15%;
}

.control-container-last {
  font-size: 1rem;
  margin-top: 2.5em;
  margin-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  position: absolute;
  left: 280px;
  width: 60px;
  height: 60px;
  background: blue;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  writing-mode: vertical-rl;
  color: white;
}

.switch-container {
  margin-right: 28%;
  font-size: 1rem;
  display: flex;
}

.switch-on, .switch-off {
  width: 80px;
  height: 30px;
  margin: 0;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-on + .switch-off {
  margin-left: 0;
}

.select-container {
  font-size: 1rem;
  display: flex;
}

.select-1, .select-2, .select-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  margin: 0;
  background: white;
  border: 1px solid black;
}

.select-small {
  font-size: 0.7rem;
}

.select-1 + .select-2 + .select-3 {
  margin-left: 0;
}

.switch-on.clicked {
  background: red;
}
  
.switch-off.clicked {
  background: blue;
}

.select-container > .clicked {
  background: yellow;
}

